body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  height: 10000px;
}

.homeBtn{
  margin-top: 10px;
  position:fixed;
  right: 5%;
}

.videoConatiner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stream{
  /* border: 3px solid lightslategray; */
  display: flex;    
  align-items: center;
  flex-direction: column;;

}

/* media query */

@media screen and (max-width: 700px){
  .videoConatiner{
    flex-direction: column;
  }

}